body {
    background-color: #FFFFFF;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.header ,.hero{
    display: flex;
}


.header div{
    padding: 25px;
    background: #1F2937;
    flex: 1 1 0%;
}

.h_link, .subtext{
    font-size: 18px;
    color: #E5E7EB;

}

.header .h_logo{
    flex: 3 1 0%;
    font-size: 24px;
    color: #F9FAF8;
}


.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    align-items:center;
    justify-content: center;
    padding: 50px;
    flex: 1 1 auto;

}
.hero .hero_part{
    padding: 25px;
    text-align: left;
}

h1{
    font-size: 48px;
    font-weight: bold;  
}

.hero img {
    width: 450px;
    height: 250px;
}

.info {
    height: 140px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .item {
    width: 100px;
    height: 100px;
    border: 4px solid darkslategray;
  }

  .footer {
    padding: 16px;
    display:flex;
    background: #1F2937;
  }

  .footer div{
    flex: 1 0 0%;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
  }

